body{
	background-color: white;
}

.main-bg{
    background-color: white;	
}

.fill-width{
	width: 100%;
}

.hoverblack{
	color: white !important;
}

.hoverblack:hover{
	color: black !important;
	background-color: white !important;
} 

.custombrand{
	color: black !important;
}

.custombrand:hover{
	color: #cc4444 !important; 
	background-color: black !important;
	font-family: 'Macondo', cursive;
	font-size: 2em;
}

.navbar-nav > li > .dropdown-menu > li > a {
	background-color: white !important;
	color: black !important;
}

div>label{
	width: 100%;
}

label>div>input{
	width: 100%;
}

.navbar-nav > li > .dropdown-menu>li:hover > a {
	background-image: none;
	background-color: black !important;
	color: white !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}